<!DOCTYPE html>
<html lang="en">
<body>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Delete?</title>
    </head>
        <h1>To-do Lists!</h1>
        <main>
            <form method="post">
                {% csrf_token %}
                <p>
                    Are you sure you want to delete "{{ todolist }}"?
                </p>
                {{ form.as_p }}
                <div>
                    <button>Delete</button>
                </div>
            </form>
        </main>
</body>
</html>
