<!DOCTYPE html>
<html lang="en">

<head>
    <title>Details of Todo List</title>
</head>

<body>
    <header>
        <h1>To-do Lists!</h1>
        <a href="{% url 'todos_delete' todolist.id %}">Delete?</a>
        <a href="{% url 'todos_edit' todolist.id %}">Edit?</a>
    </header>
    <main>
        {% for x in todolist.items.all %}
        <div>
            <h2>
                <a href="{% url "item_update" x.id %}">{{ x.name }}</a>
            </h2>
        </div>
        {% endfor %}
    </main>
    <footer>
    </footer>
</body>
</html>