<!doctype html>
<html lang="en">
    <head>
        <title>Edit Todo List</title>
    </head>
    <body>
        <h1>Edit {{todoitem.name}}?</h1>
        <main>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div>
                    <button>Update!</button>
                </div>
            </form>
        </main>
    </body>
</html>