<!DOCTYPE html>
<html lang="en">
<head>
    {% comment %} <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> {% endcomment %}
    <title>Todo List</title>
</head>
<body>
    <header>
        <h1>Todo Lists!</h1>
        <nav>
            <ul>
                <a href="{% url 'todos_create' %}">Create a list!</a>
                <a href="{% url 'item_create' %}">Create Item!</a>
            </ul>
        </nav>
    </header>
    <main> 
        <div>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div>
                    <button>Create</button>
                </div>
            </form>
        </div>
    </main>
</body>
</html>