<!DOCTYPE html>
<html lang="en">
<head>
    {% comment %} <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> {% endcomment %}
    <title>Todo List</title>
</head>
<body>
    <header>
        <h1>{{ todolist.name }}</h1>
        <nav>
            <a href="{% url 'todos_create' %}">Create a list!</a>
            <a href="{% url 'item_create' %}">Create Item!</a>
        </nav>
    </header>
    <main>
    {% for x in todolist_list %}
    <div>
        <h2>
            <a href="{% url "todos_details" x.id %}">{{ x.name }}</a>
        </h2>
    </div>
    {% endfor %}
</body>
</html>